@* Comments: 
02.20.15 - TR - Created 

*@

@*
/* Authors:
 *      Tonia Roddick (troddick@usgs.gov)
  * Copyright:
 *      2012 USGS - WiM
 * Purpose:
 *      Reporting tab 
 */
 *@
 
 @{
    ViewBag.Title = "Reporting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="dataTitle">
    <div class="title">Reporting</div>
   
</div>
<br clear="all" />
<hr class="headerUnderline" />

<div>
    Report Information will be here
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
</div>

    <br />
    @*<div id="formSubmitDiv" class="formSection">
        <div class="leftSideSubmit">
            <div class="submitDiv"><div class="darkButtonBorder"><input type="submit" name="Create" class="submit" value="Submit" /></div></div>
            <div class="cancelDiv"><div class="lightButtonBorder"><input id="resetButton" type="reset" class="cancel" value="Cancel" onclick="location.href='@Url.Action("ProjectCreate", "Project")' " /></div></div>
            <span id="errorSection" class="failureNotification"><asp:Literal ID="ErrorMessage" runat="server"></asp:Literal></span>
        </div>
    </div>  *@